<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:mvc="http://www.springframework.org/schema/mvc"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:util="http://www.springframework.org/schema/util" 
        xsi:schemaLocation="  
        http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd  
        http://www.springframework.org/schema/context   
        http://www.springframework.org/schema/context/spring-context-4.3.xsd  
        http://www.springframework.org/schema/mvc      
        http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
        http://www.springframework.org/schema/tx      
        http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
        http://www.springframework.org/schema/aop  
        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
        http://www.springframework.org/schema/util 
        http://www.springframework.org/schema/util/spring-util-4.3.xsd">

        
        <!-- 使用annotation 自动注册bean, 并保证@Required、@Autowired的属性被注入 -->
        <context:component-scan base-package="com.stt">
                <context:exclude-filter type="annotation"
                        expression="org.springframework.stereotype.Controller" />
        </context:component-scan>
        
        <!-- <util:properties id="conf" location="classpath:conf.properties" /> -->
        <!-- <util:properties id="conf_openapi" location="classpath:conf_openapi.properties" /> -->

        <!-- 使用注解注入properties中的值 -->
        <bean id="conf"
                class="org.springframework.beans.factory.config.PropertiesFactoryBean">
                <property name="locations">
                        <list>
                                <value>classpath:conf.properties</value>
                        </list>
                </property>
                <!-- 设置编码格式 -->
                <property name="fileEncoding" value="UTF-8"></property>
        </bean>

        <bean id="conf_openapi"
                class="org.springframework.beans.factory.config.PropertiesFactoryBean">
                <property name="locations">
                        <list>
                                <value>classpath:conf_openapi.properties</value>
                        </list>
                </property>
                <!-- 设置编码格式 -->
                <property name="fileEncoding" value="UTF-8"></property>
        </bean>
                
        
</beans>